
<h3>Denticion</h3>
<div class="section container">
    <div class="row">
      <form class="col s12">
        <div class="row card-panel grey lighten-2">
          <div class="input-field col s6">
            <input [(ngModel)]="denticion1.fase_denticion" name="fase_denticion" id="fdenticion" type="text" >
            <label class="active" for="fdenticion">Fase de Denticion:</label>
          </div>
          <div class="input-field col s6">
              <input [(ngModel)]="denticion1.estado_periodontal"  name="estado_periodontal" id="Eperiodontal" type="text" >
              <label class="active" for="Eperiodontal">Estado Periodontal:</label>
          </div>
          <div class="input-field col s8">
            <input [(ngModel)]="denticion1.estado_restauracion"  name="estado_restauracion"  id="erestauracion" type="text" >
            <label class="active" for="erestauracion">Estado de Restauracion:</label>
          </div>
          <div class="input-field col s12">
            <p>Anteposterior</p>
          </div>
          <div class="input-field col s4">
            <input [(ngModel)]="denticion1.clasificacion_angle" name="clasificacion_angle" id="cangle" type="text" >
            <label class="active" for="cangle">Clasificacion de Angle:</label>
          </div>
          <div class="input-field col s6">
            <input [(ngModel)]="denticion1.resalte" id="resalte" name="resalte" type="text" >
            <label class="active" for="resalte">Resalte:</label>
          </div>
          <div class="input-field col s12">
            <p>Vertical</p>
          </div>
          <div class="input-field col s6">
            <input [(ngModel)]="denticion1.mordida"   name="mordida" id="mordida" type="text" class="validate">
            <label class="active" for="mordida">Sobre mordida:</label>
          </div>
        </div>
        <div class="row">
         
        </div>
      </form>
    </div>

  </div> 