
<h3>Forma facial</h3>
<div class="section container">
    <div class="row">
      <form class="col s12">
        <div class="row card-panel grey lighten-2">
          <div class="input-field col s6">
            <input [(ngModel)]="forma1.frontal"  name="frontal" id="frontal" type="text" >
            <label class="active" for="frontal">Frontal:</label>
          </div>
          <div class="input-field col s6">
              <input [(ngModel)]="forma1.perfil"  name="perfil" id="perfil" type="text" >
              <label class="active" for="perfil">Perfil:</label>
          </div>
          <div class="input-field col s12">
            <h6>Posiciones ante posteriores de las mandibulas</h6>
          </div>
          <div class="input-field col s8">
            <input [(ngModel)]="forma1.maxilar"   name="maxilar"  id="maxilar" type="text" >
            <label class="active" for="maxilar">1.- Maxilar:</label>
          </div>
          <div class="input-field col s4">
            <input [(ngModel)]="forma1.mandibula" name="mandibula" id="mandibula" type="text" >
            <label class="active"  for="mandibula">2.-Mandibula:</label>
          </div>
          <div class="input-field col s6">
            <input [(ngModel)]="forma1.labios" id="resalte" name="labios" type="text" >
            <label class="active" for="labios">Labios:</label>
          </div>
        </div>
      </form>
    </div>
  </div> 